<p-card
  [class]="'w-full h-full bg-white! dark:bg-primary-900/20! backdrop-blur-xl border border-primary-100/50 dark:border-primary-800/50 shadow-xl shadow-primary-900/5 dark:shadow-none ' + hoverClass() + ' transition-all duration-500 relative overflow-hidden rounded-3xl group border-none!'"
  [dt]="{ background: 'transparent' }" [style]="{ 'padding': '0' }">
  <ng-template pTemplate="header">
    @if (title()) {
      <div class="font-bold text-xl px-6 pt-6 pb-2 text-surface-900 dark:text-surface-0">{{ title() }}</div>
    }
  </ng-template>
  <ng-content></ng-content>
</p-card>